@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-Bold.ttf");
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  /* 100vh quitar al hacer el responsive */
  /* height: 100vh; */
  flex-direction: column;
  max-width: 1140px;
  margin: 0 auto;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 50px 20px 50px 45px 105px auto;
  grid-column-gap: 1rem;
  justify-content: center;
}

.main-text {
  font-family: "Roboto Mono";
  font-size: 18rem;
  font-weight: bold;
  justify-self: center;
  grid-column: span 2;
  grid-row-start: 2;
  line-height: 187px;
  color: rgba(255, 0, 0, 0.7);
  /* color: #ef4140; */
}

.index_1 {
  grid-column: 2 / span 2;
  grid-row: 4 / 7;
  z-index: 1;
}

.index_2 {
  grid-column: 4 / span 2;
  grid-row: 3 / 7;
  z-index: 1;
}

.index_3 {
  grid-column: 6 / span 2;
  grid-row: 5 / 7;
  z-index: 1;
}

.index_4 {
  grid-column: 8 / span 2;
  grid-row: 1;
  z-index: 1;
}

.index {
  margin-bottom: 0.4rem;
}

.index__section {
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 1rem;
}

.index__title {
  font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

.index__text {
  font-size: 0.75rem;
  color: rgb(80, 80, 80);
}

.main-text.w,
.main-text.o,
.main-text.r,
.main-text.d {
  position: relative;
}

.main-text.w::before {
  content: " ";
  background-color: black;
  width: 12px;
  height: 180px;
  display: inline-block;
  position: absolute;
  left: 60px;
  top: 40px;
  transform: skewX(-9deg);
}

.main-text.o::before {
  content: " ";
  background-color: black;
  width: 12px;
  height: 180px;
  display: inline-block;
  position: absolute;
  left: 69px;
  top: -35px;
  transform: skewX(-9deg);
}

.main-text.r::before {
  content: " ";
  background-color: black;
  width: 12px;
  height: 180px;
  display: inline-block;
  position: absolute;
  left: 81px;
  top: 25px;
  transform: skewX(-9deg);
}

.main-text.d::before {
  content: " ";
  background-color: black;
  width: 12px;
  height: 180px;
  display: inline-block;
  position: absolute;
  left: 71px;
  top: -71px;
  transform: skewX(-9deg);
}

@media (max-width: 360px) {
  .grid_container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
  }

  .main-text,
  .index_1,
  .index_2,
  .index_3,
  .index_4 {
    grid-column: 1;
  }
}
